

= provide(:title, 'パスワード再設定')
%section.dash_board_main
  .d_title01
    %h2
      %span
        パスワード再設定

  .dash_board_innner

    = form_for(:password_reset, url: password_resets_path) do |f|
      .form_item.flex_form.need_item
        = f.label :email
        = f.email_field :email, class: 'form-control'

      = f.submit "送信", class: "btn btn-warning"
