= provide(:title, "プライバシーポリシー")

.page_content.page_top.bg-gary.contact_page.policy
  %section.section1.width-100
    = Date.today
    = Time.new
    .section2
      .title01
        %h3
          %span
            プライバシーポリシー
      .container.section4
        %p
          本プライバシーポリシーは、Kaikai（以下、「当サイト」とします。)の各種サービス（当サイトによる情報提供、各種お問合せの受付等）において、当サイトの訪問者（以下、「訪問者」とします。）の個人情報もしくはそれに準ずる情報を取り扱う際に、当サイトが遵守する方針を示したものです。

      %article.container.section4
        .d_title02
          %h3
            %span
              1.基本方針
        .form_items
          %p
            当サイトは、個人情報の重要性を認識し、個人情報を保護することが社会的責務であると考え、個人情報に関する法令を遵守し、当サイトで取扱う個人情報の取得、利用、管理を適正に行います。当サイトで収集した情報は、利用目的の範囲内で適切に取り扱います。

      %article.container.section4
        .d_title02
          %h3
            %span
              2.適用範囲
        .form_items
          %p
            本プライバシーポリシーは、当サイトにおいてのみ適用されます。

      %article.container.section4
        .d_title02
          %h3
            %span
              3.個人情報の取得と利用目的
        .form_items
          %p
            当サイトで取得する訪問者の個人情報と利用目的、保存期間等は下記の通りです。

      %article.container.section4
        .d_title02
          %h3
            %span
              3-1.会員登録の際に,個人情報を取得します
        .form_items
          %p
            当サイトでは、訪問者が当サイトに会員登録した際に、以下の個人情報を取得します。
          %ul
            %li
              = "-登録フォームに表示されているメールアドレス"
            %li
              = "-IPアドレス"
          %p
            これにより登録ユーザーとして、識別いたします。

      %article.container.section4
        .d_title02
          %h3
            %span
              3-1.Cookieによる個人情報の取得
        .form_items
          %p
            当サイトは、訪問者のコンピュータにCookieを送信することがあります。
            Cookie（クッキー）とは、ウェブサイトを利用したときに、ブラウザとサーバーとの間で送受信した利用履歴や入力内容などを、訪問者のコンピュータにファイルとして保存しておく仕組みです。


      %article.container.section4
        .d_title02
          %h3
            %span
              4.個人情報の管理
        .form_items
          %p
            当サイトは、訪問者からご提供いただいた情報の管理について、以下を徹底します。

      %article.container.section4
        .d_title02
          %h3
            %span
              4-1.安全管理措置
        .form_items
          %p
            当サイトは、個人情報の漏えいや滅失又は棄損を防止するために、適切なセキリュティ対策を実施して個人情報を保護します。

      %article.container.section4
        .d_title02
          %h3
            %span
              4-2.個人情報の廃棄
        .form_items
          %p
            個人情報が不要となった場合には、すみやかに廃棄します。

      %article.container.section4
        .d_title02
          %h3
            %span
              4-3.個人情報の開示、訂正、追加、削除、利用停止
        .form_items
          %p
            訪問者ご本人からの個人情報の開示、訂正、追加、削除、利用停止のご希望の場合には、ご本人であることを確認させていただいた上、速やかに対応させていただきます。

          %p
            上記を希望される場合は、以下のメールアドレスまでお問い合わせください。
            %br
            メールアドレス：〇〇〇あなたのメールアドレス（★を@に置き換えて下さい）


      %article.container.section4
        .d_title02
          %h3
            %span
              5.個人情報の第三者への提供について
        .form_items
          %p
            当サイトは、訪問者からご提供いただいた個人情報を、訪問者本人の同意を得ることなく第三者に提供することはありません。また、今後第三者提供を行うことになった場合には、提供する情報と提供目的などを提示し、訪問者から同意を得た場合のみ第三者提供を行います。


      %article.container.section4
        .d_title02
          %h3
            %span
              6.お問い合わせ先
        .form_items
          %p
            当サイト、又は個人情報の取扱いに関しては、下記のメールアドレス又はお問い合わせフォームにてお問い合わせください。

          %p
            当サイト運営者：横田 和哉

          %p
            メールアドレス：y.kazuya.0124@gmail.com

      %article.container.section4
        .d_title02
          %h3
            %span
              7.プライバシーポリシーの変更について
        .form_items
          %p
            当サイトは、個人情報に関して適用される日本の法令を遵守するとともに、本プライバシーポリシーの内容を適宜見直しその改善に努めます。修正された最新のプライバシーポリシーは常に本ページにて開示されます。

          %p
            令和元年7月6日 策定（公開日を記載）




