= provide(:title, "アカウント編集")

%h2 アカウント編集

= form_for @account,:builder => CustomFormBuilder  do |f|
  = render 'shared/error_messages', object: f.object
  = f.label :email
  = f.email_field :email, class: 'form-control'
  = f.submit "Create my account", class: "btn btn-primary"

= link_to "パスワードの変更はこちら", new_password_reset_path


