= provide(:title, 'アカウント編集')
%section.dash_board_main
  .d_title01
    %h2
      %span
        アカウント編集

  .dash_board_innner
    = form_for @account,:builder => CustomFormBuilder  do |f|
      = render 'shared/error_messages', object: f.object
      .form_item.flex_form
        = f.label :email
        = f.email_field :email, class: 'form-control'
      = f.submit "変更する", class: "btn btn-warning"

    = link_to "パスワードの変更はこちら", new_password_reset_path


