= provide(:title, '施設情報')


%section.dash_board_main
  .d_title01
    %h2
      %span
        施設情報
  .dash_board_innner
    = link_to edit_account_facilities_path(current_account) do
      %p.add_content_text
        %span
          施設情報を編集する▷
    %article.form-card
      .d_title02
        %h3
          %span
            基本情報
      .form-items
        .my_grid.grid-1-2-maxauto
          .my_grid_item
            .form-content-title
              %h4
                %span
                  写真
            .form_item.picture_field.form-group
              = image_tag(preview_picture_image(@facility), class: "picture_preview")

          .my_grid_item
            .form_item.innner-item
              .form-content-title
                %h4
                  %span
                    施設名
              .input_area
                = "#{@facility.name}"

            .form_item.innner-item
              .form-content-title
                %h4
                  %span
                    ホームページ
              .input_area
                - if @facility.url
                  = link_to "#{@facility.url}",@facility.url,target: :_blank



        .my_grid.grid-1-2-55.my_grid-pc
          .my_grid_item
            .form_item
              .form-content-title
                %h4
                  %span
                    電話番号
              .input_area
                = "#{@facility.tel}"
          .my_grid_item
            .form_item
              .form-content-title
                %h4
                  %span
                    メールアドレス
              .input_area
                = "#{@facility.email}"

        .address_area.my_grid.fit-grid-half
          .my_grid_item
            .form_item
              .form-content-title
                %h4
                  %span
                    都道府県
              .input_area
                = "#{@facility.pref}"

          .my_grid_item
            .form_item
              .form-content-title
                %h4
                  %span
                    市町村
              .input_area
                = "#{@facility.city}"
          .my_grid_item
            .form_item
              .form-content-title
                %h4
                  %span
                    町名・番地
              .input_area
                = "#{@facility.address}"