-# - if current_account
-#   %h4 サイドバーです
-#   = link_to "イベント管理", "#"
-#   = link_to "ダッシュボード", dashboard_account_path(current_account)
-#   = link_to "利用者情報", account_users_path(current_account)
-#   = link_to "施設情報",account_facilities_path(current_account)



.modal-back.js-modal-torriger
%nav.sidebar_warpper.shadow-sm.js-close_sidebar


  .sidebar_title
    %span
      =current_facility.name

  %ul.sidebar
    %li.siebar_list{class: "#{sidebar_active?("accounts")}" }
      = link_to dashboard_account_path(current_account) do
        =image_tag("common/icon_dash.png", class:"side_icon")
        %span ダッシュボード
    %li.siebar_list{class: "#{sidebar_active?("events")}" }
      = link_to account_events_path(current_account) do
        =image_tag("common/icon_calendar.png", class:"side_icon")
        %span イベント管理
    %li.siebar_list{class: "#{sidebar_active?("users")}" }
      = link_to account_users_path(current_account) do
        =image_tag("common/icon_old.png", class:"side_icon")
        %span 利用者情報
    %li.siebar_list{class: "#{sidebar_active?("historyies")}" }
      = link_to "#" do
        =image_tag("common/icon_book.png", class:"side_icon")
        %span 利用者履歴
    %li.siebar_list{class: "#{sidebar_active?("facilities")}" }
      = link_to account_facilities_path(current_account)do
        = image_tag("common/icon_house.png", class:"side_icon")
        %span 施設情報

.sidebar_open_button.js-close_sidebar.js-modal-torriger.u-sp
  =image_tag("common/open_side.png", class:"side_icon")