<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wapper">
      <%= render 'layouts/header' %>

      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
        <%- unless controller.controller_name == "pages"%>
          <div class="main-page">
            <%= render 'layouts/sidebar' %>
            <div class="dash_board">
              <%= yield %>
            </div>
          </div>
        <%- else %>
          <%= yield %>
        <%- end %>
      <%= render 'layouts/fotter' %>
    </div>
  </body>
</html>
